<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vocab Builder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button [routerLink]="['/new-word']">Learn New Words</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/review']">Review What You've Learnt</ion-button>
    </ion-item>
    <ion-item>
      <ion-button [routerLink]="['/my-vocab-list']">Your Vocabulary</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
